/* Main Elements */

html {

   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 

}

header {
    display: flex;
}

ul{
    display: flex;
    
}
section {


}

div {


}

h1 {

}

p {

}

footer {

}

/* Classes */

.mainheading {

}

.column1 {

}

.column2 {

}

.column3 {

}

.column4 {

}